# Recomendador de inversiones inmoviliarias

## Datos origen:

- tfm/2024-05-07_bd_sistema-indices-alquiler-vivienda_2011-2022.xlsx

Datos rentas y arrendamientos Modelo 100 por año Total: Los bienes inmuebles que se agregan son aquellos que tienen información tanto en la fuente tributaria como en la catastral.		

| Código                   | Denominación / definición                                                                                              | Tipo          |
|--------------------------|------------------------------------------------------------------------------------------------------------------------|---------------|
| CUSEC_R                 | Código único de Sección Censal Censo Población 2011 INE (alfanumérico)                                                 | VARCHAR(10)   |
| CUSEC                   | Código único de Sección Censal Censo Población 2011 INE (numérico)                                                     | INT           |
| CUMUN                   | Código único de Municipio Censo Población 2011 INE (numérico)                                                          | INT           |
| CSEC                    | Código de Sección Censal Censo Población 2011 INE (numérico)                                                           | INT           |
| CDIS                    | Código de Distrito Censal Censo Población 2011 INE (numérico)                                                          | INT           |
| CMUN                    | Código Municipio Censo Población 2011 INE (numérico)                                                                   | INT           |
| CPRO                    | Código de Provincia Censo Población 2011 INE (numérico)                                                                | INT           |
| CCA                     | Código único de Comunidad Autónoma Censo Población 2011 INE (numérico)                                                 | INT           |
| CUDIS                   | Código único de Distrito Censal Censo Población 2011 INE (numérico)                                                    | INT           |
| NPRO                    | Nombre de Provincia Censo Población 2011 INE                                                                           | VARCHAR(50)   |
| NCA                     | Nombre de Comunidad Autónoma Censo Población 2011 INE                                                                  | VARCHAR(50)   |
| NMUN                    | Nombre de Municipio Censo Población 2011 INE                                                                           | VARCHAR(50)   |
| BI_ALVHEPCO_TVC_AA      | Recuento subconjunto alquiler Grupo GGT01 VC: Vivienda Colectiva como tipología de más superficie                      | INT           |
| BI_ALVHEPCO_TVU_AA      | Recuento subconjunto alquiler Grupo GGT01 VU: Vivienda Unifamiliar o Rural como tipología de más superficie             | INT           |
| ALQM2mes_LV_M_VC_AA     | Alquiler mensual m2 mediano m2 Grupo GGT01 VC: Vivienda Colectiva como tipología de más superficie                      | DOBLE         |
| ALQM2mes_LV_25_VC_AA    | Alquiler mensual m2 percentil 25 Grupo GGT01 VC: Vivienda Colectiva como tipología de más superficie                    | DOBLE         |
| ALQM2mes_LV_75_VC_AA    | Alquiler mensual m2 percentil 75 Grupo GGT01 VC: Vivienda Colectiva como tipología de más superficie                    | DOBLE         |
| ALQM2mes_LV_M_VU_AA     | Alquiler mensual m2 mediano m2 Grupo GGT01 VU: Vivienda Unifamiliar o Rural como tipología de más superficie            | DOBLE         |
| ALQM2mes_LV_25_VU_AA    | Alquiler mensual m2 percentil 25 Grupo GGT01 VC: Vivienda Unifamiliar o Rural como tipología de más superficie          | DOBLE         |
| ALQM2mes_LV_75_VU_AA    | Alquiler mensual m2 percentil 75 Grupo GGT01 VC: Vivienda Unifamiliar o Rural como tipología de más superficie          | DOBLE         |
| ALQTBID12_M_VC_AA       | Alquiler mensual todo el bien inmueble mediana Grupo GGT01 VC: Vivienda Colectiva como tipología de más superficie      | DOBLE         |
| ALQTBID12_25_VC_AA      | Alquiler mensual todo el bien inmueble percentil 25 Grupo GGT01 VC: Vivienda Colectiva como tipología de más superficie | DOBLE         |
| ALQTBID12_75_VC_AA      | Alquiler mensual todo el bien inmueble percentil 75 Grupo GGT01 VC: Vivienda Colectiva como tipología de más superficie | DOBLE         |
| ALQTBID12_M_VU_AA       | Alquiler mensual todo el bien inmueble mediana Grupo GGT01 VU: Vivienda Unifamiliar o Rural como tipología de más superficie | DOBLE      |
| ALQTBID12_25_VU_AA      | Alquiler mensual todo el bien inmueble percentil 25 Grupo GGT01 VC: Vivienda Unifamiliar o Rural como tipología de más superficie | DOBLE      |
| ALQTBID12_75_VU_AA      | Alquiler mensual todo el bien inmueble percentil 75 Grupo GGT01 VC: Vivienda Unifamiliar o Rural como tipología de más superficie | DOBLE      |
| SLVM2_M_VC_AA           | Superficie m2 mediana Grupo GGT01 VC: Vivienda Colectiva como tipología de más superficie                              | DOBLE         |
| SLVM2_25_VC_AA          | Superficie m2 percentil 25 Grupo GGT01 VC: Vivienda Colectiva como tipología de más superficie                        | DOBLE         |
| SLVM2_75_VC_AA          | Superficie m2 percentil 75 Grupo GGT01 VC: Vivienda Colectiva como tipología de más superficie                        | DOBLE         |
| SLVM2_M_VU_AA           | Superficie m2 mediana Grupo GGT01 VU: Vivienda Unifamiliar o Rural como tipología de más superficie                    | DOBLE         |
| SLVM2_25_VU_AA          | Superficie m2 percentil 25 Grupo GGT01 VU: Vivienda Unifamiliar o Rural como tipología de más superficie               | DOBLE         |
| SLVM2_75_VU_AA          | Superficie m2 percentil 75 Grupo GGT01 VU: Vivienda Unifamiliar o Rural como tipología de más superficie               | DOBLE         |


--> La denominación del campo se marca al final con "_AA" para señalar el año

In [22]:
!pip install openpyxl scikit-learn

Requirement already satisfied: openpyxl in /home/daimler/workspaces/uoc/.venv/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: scikit-learn in /home/daimler/workspaces/uoc/.venv/lib/python3.12/site-packages (1.5.2)
Requirement already satisfied: et-xmlfile in /home/daimler/workspaces/uoc/.venv/lib/python3.12/site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: numpy>=1.19.5 in /home/daimler/workspaces/uoc/.venv/lib/python3.12/site-packages (from scikit-learn) (2.1.3)
Requirement already satisfied: scipy>=1.6.0 in /home/daimler/workspaces/uoc/.venv/lib/python3.12/site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in /home/daimler/workspaces/uoc/.venv/lib/python3.12/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /home/daimler/workspaces/uoc/.venv/lib/python3.12/site-packages (from scikit-learn) (3.5.0)

In [23]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [24]:
# # Ruta al archivo Excel
# file_path = "datasets/2024-05-07_bd_sistema-indices-alquiler-vivienda_2011-2022.xlsx"

# # Cargar la hoja específica en un DataFrame
# censales = pd.read_excel(file_path, sheet_name='Secciones censales')
# municipios = pd.read_excel(file_path, sheet_name='Municipios')

## Carga de datos de Barcelona Datos con el Precio medio por superficie (€/m²) del alquiler de viviendas por distrito

Renta media mensual por superficie (€/m²) de alquiler de viviendas procedente de la estadística de fianzas del INCASOL. Se puede considerar que esta estadística tiene un carácter censal ya que se basa en el recuento de todos los contratos de alquiler que han depositado la fianza en el Incasòl en el período considerado.

La información de distritos y barrios está elaborada a partir de aquéllos viviendas que se han podido geolocalizar. El total de Barcelona puede no coincidir con la suma de compraventas de los distritos o de los barrios.No se publica la información de los ámbitos de menos de seis contratos registrados.

In [25]:
# Carga de datos de Barcelona Datos con el Precio medio por superficie (€/m²) del alquiler de viviendas por distrito

bcn_rent = pd.read_csv('datasets/Precio_medio_EUR_m2_alquiler.csv')
dist_sale = pd.read_csv('datasets/Precio_medio_EUR_m2_compraventa.csv')
SeccionsCensals = pd.read_csv('datasets/BarcelonaCiutat_SeccionsCensals.csv')

# Renombrado de columnas

bcn_rent.columns = ['quarter', 'name', 'order', 'type','price']
bcn_rent['quarter'] = pd.to_datetime(bcn_rent['quarter']).dt.to_period('Q')
bcn_rent.info()
display(bcn_rent.head())

hood_qtr = bcn_rent[bcn_rent['type'] == 'Barri' ].groupby(by=['name', 'quarter'])['price'].mean().reset_index().pivot(index='name', columns='quarter', values='price').reset_index().copy()
dist_qtr = bcn_rent[bcn_rent['type'] == 'Districte' ].groupby(by=['name', 'quarter'])['price'].mean().reset_index().pivot(index='name', columns='quarter', values='price').reset_index().copy()
town_qtr = bcn_rent[bcn_rent['type'] == 'Municipi' ].groupby(by=['name', 'quarter'])['price'].mean().reset_index().pivot(index='name', columns='quarter', values='price').reset_index().copy()
hood_qtr.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4999 entries, 0 to 4998
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   quarter  4999 non-null   period[Q-DEC]
 1   name     4999 non-null   object
 2   order    4999 non-null   int64
 3   type     4999 non-null   object
 4   price    4999 non-null   float64
dtypes: float64(1), int64(1), object(2), period[Q-DEC](1)
memory usage: 195.4+ KB

  quarter            name  order       type     price
0  2000Q1  Sants-Montjuïc      3  Districte  6.054531
1  2000Q1      Nou Barris      8  Districte  5.408728
2  2000Q1       Les Corts      4  Districte  7.590490
3  2000Q1    Ciutat Vella      1  Districte  5.528871
4  2000Q1       Barcelona     -1   Municipi  5.729807

quarter,name,2014Q1,2014Q2,2014Q3,2014Q4,2015Q1,2015Q2,2015Q3,2015Q4,2016Q1,...,2022Q1,2022Q2,2022Q3,2022Q4,2023Q1,2023Q2,2023Q3,2023Q4,2024Q1,2024Q2
0,Baró de Viver,3.920,4.03,NaN,NaN,4.929844,5.580800,3.5920,NaN,3.350613,...,6.120076,NaN,NaN,NaN,9.234508,NaN,NaN,NaN,NaN,NaN
1,Can Baró,9.695,8.95,9.18,9.62,9.377958,9.937066,10.3878,10.7254,11.500130,...,13.438591,12.866647,13.879256,14.574977,14.659692,15.012717,14.560990,16.284445,16.121249,14.519787
2,Can Peguera,5.660,6.57,3.54,NaN,5.793700,NaN,NaN,NaN,8.071466,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canyelles,7.165,5.58,6.81,7.70,7.214200,7.233783,7.2686,7.8388,8.033169,...,8.850343,9.820583,NaN,11.415674,10.808906,10.862422,10.114438,11.062709,11.062783,9.080944
4,Ciutat Meridiana,6.305,6.85,6.39,6.17,6.599020,6.712908,6.4819,6.6575,6.600931,...,9.211196,10.297543,9.728727,9.974875,10.360262,9.985005,10.431801,10.881194,10.383449,10.826799
5,Diagonal Mar i el Front Marítim del Poblenou,11.000,10.70,12.49,11.49,12.061529,11.138729,11.5371,14.8976,12.835720,...,16.133052,17.481654,17.595167,18.955791,19.145583,19.218082,17.618434,18.987592,19.369904,19.322116
6,Horta,8.895,8.67,8.92,9.30,9.190985,9.595563,9.6321,9.8237,10.222282,...,11.983806,12.507359,12.669571,13.139650,13.654574,13.575288,13.895137,14.931542,14.935850,13.876325
7,Hostafrancs,10.335,10.08,9.93,10.63,10.903718,10.912255,11.2407,11.4842,11.956176,...,14.035930,13.829364,14.573412,14.675620,15.769753,15.770029,16.002035,15.746422,16.058181,15.289324
8,Montbau,9.375,9.02,9.35,9.26,9.499742,9.733321,11.5544,10.1144,9.753573,...,11.411846,11.157582,12.792262,12.860534,13.312911,13.863691,13.452144,14.794396,13.522505,13.953248
9,Navas,9.055,8.66,8.49,9.24,9.456145,9.566201,9.9705,10.2704,10.543497,...,12.422056,12.250615,12.814637,13.325376,14.000186,14.661235,13.849115,15.901175,14.743156,14.114985

In [26]:
bcn_rent[bcn_rent['name'] == 'Baró de Viver'] 
 
    # # Crear una copia del DataFrame para trabajar
    # data_copy = data[c].copy()
    # # Verifica si hay valores faltantes y elimínalos o interpola
    # if data_copy.isnull().any():
    #     data_copy = data_copy.interpolate() # Rellenar NaN con interpolación

     quarter           name  order   type     price
901   2014Q1  Baró de Viver     58  Barri  3.920000
989   2014Q2  Baró de Viver     58  Barri  4.030000
1265  2015Q1  Baró de Viver     58  Barri  4.778700
1332  2015Q1  Baró de Viver     58  Barri  5.080987
1335  2015Q2  Baró de Viver     58  Barri  5.580800
1482  2015Q3  Baró de Viver     58  Barri  3.592000
1578  2016Q1  Baró de Viver     58  Barri  3.516846
1709  2016Q1  Baró de Viver     58  Barri  3.184380
1883  2016Q3  Baró de Viver     58  Barri  3.846532
2103  2017Q1  Baró de Viver     58  Barri  6.210010
2459  2018Q1  Baró de Viver     58  Barri  7.477571
2721  2018Q4  Baró de Viver     58  Barri  7.599486
2921  2019Q1  Baró de Viver     58  Barri  6.509719
3280  2020Q1  Baró de Viver     58  Barri  7.914579
3308  2020Q1  Baró de Viver     58  Barri  7.518427
3680  2021Q1  Baró de Viver     58  Barri  8.006762
3797  2021Q2  Baró de Viver     58  Barri  6.653241
3926  2021Q4  Baró de Viver     58  Barri  9.232606
4071  2022Q1  Baró de Viver     58  Barri  6.120076
4438  2023Q1  Baró de Viver     58  Barri  9.234508

In [27]:
censales.head()

NameError: name 'censales' is not defined

In [ ]:
censales.describe()

In [ ]:
censales.info( verbose = True)

In [ ]:
#Limpieza de datos
#Eliminación de columnas anteriores a 2019
censales.drop(censales.filter(regex=r'_1[1-8]$').columns, axis=1, inplace=True)
municipios.drop(municipios.filter(regex=r'_1[1-8]$').columns, axis=1, inplace=True)

#Eliminación de columnas con percentiles

In [ ]:
# import seaborn as sns
# sns.heatmap(censales.corr())

In [ ]:

# censales[[col for col in dfcensales.columns if not col.endswith(tuple(f'{year}' for year in range(11, 22)))]].head()
barcelona = censales[censales.LITMUN == 'Barcelona'].filter(regex=r'CUSEC|M2.+M_VU_19|M2.+M_VU_2')
display(barcelona.dropna().head())
barcelona.info()
# barcelona.pivot(columns='CUSEC', values=['ALQM2_LV_M_VU_18','ALQM2_LV_M_VU_19','ALQM2_LV_M_VU_20','ALQM2_LV_M_VU_21','ALQM2_LV_M_VU_22']).dropna().head()

In [ ]:
plt.figure(figsize=(10, 4))
sns.heatmap(barcelona.dropna().corr(), annot=True)
plt.show()

In [ ]:
def pred_price_m2(df, target_column, feature_columns):

    # Filtrar las columnas de interés
    df = df[feature_columns + [target_column]].dropna()

    # Separar variables independientes (X) y dependiente (y)
    X = df[feature_columns]
    y = df[target_column]

    # Dividir en conjunto de entrenamiento y prueba
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

    # Entrenar el modelo
    model = RandomForestRegressor(random_state=42, n_estimators=100)
    model.fit(X_train, y_train)

    # Hacer predicciones
    y_pred = model.predict(X_test)

    # Evaluar el modelo
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)

    print(f'Error cuadrático medio (RMSE): {rmse}')

    # Predicción para nuevos datos
    # Puedes usar model.predict(nuevos_datos) para predecir

In [ ]:
# Identificar las columnas objetivo del año 2022 y las de los años anteriores
target_column = 'ALQM2mes_LV_M_VU_22'  
feature_columns = [col for col in censales.columns if col.endswith(tuple(f'_VU_{year}' for year in range(11, 22)))]
display(feature_columns)

In [ ]:
import re
ideal = pd.read_csv('datasets/idealista_datafile.csv')
ideal.head()

In [ ]:

hab_rx = re.compile(r'\'(\d+?) hab\.\'')
m2_rx = re.compile(r'\'(\d+?) m²\'')
barrio_rx = re.compile(r"([^,]+),[^,]+$")


ideal['n_hab'] = ideal['info'].map(lambda x: ''.join(hab_rx.findall(x)))
ideal['sup_m2'] = ideal['info'].map(lambda x: ''.join(m2_rx.findall(x)))
ideal['town'] = ideal['town'].map(lambda x: ''.join(barrio_rx.findall(x)).strip())
ideal['description'] = ideal['description'].map(lambda x: re.sub(r"<.*?>", "", x))

ideal.head(30)

In [ ]:
!pip install gradio_client

from gradio_client import Client, handle_file
client = Client("http://0.0.0.0:8001/")
# mode Literal['RAG', 'Search', 'Basic', 'Summarize'] Default: "RAG"
client.predict(api_name="/_set_current_mode", mode="Basic")
client.predict(api_name="/_set_system_prompt", system_prompt_input="eres un clasificador de viviendas que tienes que decidir cual de estas 3 categoría es la más probable: [disponible, alquilada, ocupada]. Solo debes responder con una palabra, sin saludos ni otros comentarios.")

In [ ]:

def get_occupation(description):
    return client.predict(api_name="/chat", message=description, mode="Basic",param_3=[handle_file('https://github.com/gradio-app/gradio/raw/main/test/test_files/sample_file.pdf')],param_4="")

ideal['ocupacion'] = ideal.description.map(lambda x: get_occupation(x))

ideal.head(30)

In [ ]:
ideal.to_csv('datasets/idealista_datafile_new.csv', index=False)